<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>
<div th:replace="fragments :: header" style="border: 1px solid #e6e6e6"></div>
<div class="container-fluid">
    <h1>Filtered photos</h1>
    <div th:if="${param.error}" class="login-error" th:text="Unable to login"></div>
    <div th:if="${param.logout}" class="logout-success" th:text="Logged out!"></div>

    <th:block th:each="photo : ${photos}">
        <table>
            <tr>
                <td><a th:href="'/photo/'+${photo.id}"><img style="padding-left: 20px; width: 250px; display: inline-block"
                                                            th:src="${photo.url}"></a></td>
                <td th:text="${photo.description}"></td>
                <td th:text="${photo.date}"></td>
                <td th:text="${photo.username}"></td>
                <td th:text="${photo.hashtags}"></td>
            </tr>
        </table>
    </th:block>
</div>

</body>
</html>
