<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <title>SmartHouse</title>
    <meta charset="UTF-8">

    <link th:href="@{/css/libs/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/core.css}" rel="stylesheet">

    <script th:src="@{/js/http.js}"></script>

</head>
<body>
<div th:fragment="header" style="font-size: 0">
    <style>
table{width:100%;}
table td, table th { border: 1px solid grey;}
table th { background: #eee;}
.pagination-div{user-select: none;}
.pagination-div span{border-radius:3px;border:1px solid #999;
   padding:5px;margin:10px 0px 0px 10px;display:inline-block}
span.selected{background:#ccf;}
</style>
    <div style="display: inline-block; width: 50%">
        <a th:href="@{/}">
            <img style="padding-left: 20px; width: 150px; display: inline-block" th:src="@{/images/crying.jpg}"/>
            <h1 style="display: inline-block; vertical-align: middle; padding-left: 20px">NRAKPO project</h1>
        </a>
    </div>

    <div style="text-align: right; display: inline-block; width: 50%" sec:authorize="isAuthenticated()">
        <form style="padding-right: 20px; font-size: 18px" method="POST" th:action="@{/logout}">
            <span style="margin-right: 5px;" th:text="Yo"></span>
            <span sec:authentication="name"
                  style="text-decoration: underline; font-weight: bold; margin-right: 5px"></span>
            <input type="submit" class="btn btn-danger" th:value="Logout"/>
        </form>
    </div>
    <div style="text-align: right; display: inline-block; width: 50%" sec:authorize="!isAuthenticated()"
         th:if="${#httpServletRequest.requestURI != '/login'}">
        <div style="padding-right: 20px;">
            <a class="btn btn-primary" th:href="@{/login}" th:text="Login"></a>
        </div>
    </div>
    <div style="text-align: right; display: inline-block; width: 50%" sec:authorize="isAuthenticated()">
        <form style="padding-right: 20px; font-size: 18px" method="GET" th:action="@{/pictureUpload}">
            <input type="submit" class="btn btn-danger" th:value="PictureUpload"/>
        </form>
    </div>
    <div sec:authorize="hasAuthority('ROLE_ADMIN')">
        <form style="padding-right: 20px; font-size: 18px" method="GET" th:action="@{/users}">
            <input type="submit" class="btn btn-danger" th:value="ViewUsers"/>
        </form>
    </div>
    <hr>
</div>

<div th:fragment="photos">
    <th:block th:each="photo : ${photos}">
        <table>
            <tr>
                <td><a th:href="'/photo/'+${photo.id}"><img style="padding-left: 20px; width: 250px; display: inline-block"
                                                         th:src="${photo.url}"></a></td>
                <td th:text="${photo.description}"></td>
                <td th:text="${photo.date}"></td>
                <td th:text="${photo.username}"></td>
                <td th:text="${photo.hashtags}"></td>
            </tr>
        </table>
    </th:block>

    <div class="pagination-div">
    <span th:if="${page.hasPrevious()}">
        <a th:href="@{/employees(page=${page.number-1},size=${page.size})}">Previous</a>
    </span>
        <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
            <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
            <span th:unless="${page.number == i}">
             <a th:href="@{/employees(page=${i},size=${page.size})}">[[${i}+1]]</a>
        </span>
        </th:block>
        <span th:if="${page.hasNext()}">
        <a th:href="@{/employees(page=${page.number+1},size=${page.size})}">Next</a>
    </span>
    </div>
</div>


</body>
</html>
