<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<body>
    <div th:replace="fragments :: header" style="border: 1px solid #e6e6e6"></div>
<div class="container-fluid1">
    <h1 th:text="Home"></h1>
    <div th:if="${param.error}" class="login-error" th:text="Unable to login"></div>
    <div th:if="${param.logout}" class="logout-success" th:text="Logged out!"></div>

    <form method="POST" th:object="${criteriaForm}" th:action="@{'/photo/filter'}" style="padding-bottom: 15px;">
        <div class="filters"> 
        <label>Author: </label>
        <input type="text" th:field="*{author}" class="form-control" ></input>
        </div>
        <div class="filters"> 
        <label>Hashtags: </label>
        <input type="text" th:field="*{hashtags}" class="form-control" ></input>
        </div>
        <div class="velicina">
        <div class="filters"> 
        <label>Size X: </label>
        <input type="text" th:field="*{sizeX}" class="form-control" ></input>
        </div>
        <div class="filters"> 
        <label>Size Y:</label>
        <input type="text" th:field="*{sizeY}" class="form-control" ></input>
        </div>
        </div>
        <div class="datum">
        <div class="filters1"> 
        <label>Date from: </label>
        <input type="text" th:field="*{dateFrom}" class="form-control" ></input>
        </div>
        <div class="filters1"> 
        <label>Date to: </label>
        <input type="text" th:field="*{dateTo}" class="form-control" ></input>
        </div>
        </div>

        <input class="filter-button" type="submit" value="Filter"  style="clear: both;">
    </form>
</div>
<div class="container-fluid2">
    <th:block th:each="photo : ${page.content}">
        <table style="border: 1px solid #e6e6e6;margin-top: 20px; background-color: #fff">
            <tr>
                <td><i class="material-icons w3-xlarge" style="padding-top: 8px;padding-left: 10px;color: steelblue;">person</i><label  th:text="${photo.username}" style="font-weight: bold;padding: 10px 0px 0px 5px;position: relative;top: -5px;right: -5px;"></label></td>
            </tr>
            <tr>
                <td><a th:href="'/photo/'+${photo.id}"><img style="width: 50%;background-color: rgb(247, 247, 247) ;display: inline-block;margin: 0px;"
                                                            th:src="${photo.url}"></a></td>
            </tr>
            <tr>
                <td><label th:text="${photo.description}" style="padding: 10px 0px 0px 10px;"> </label> <label th:text="${photo.hashtags}" style="color: rgb(20, 85, 204);"></label></td>
            </tr>
            <tr>
                <td><label th:text="${photo.date}" style="padding-left: 10px;"></label></td>
            </tr>
        </table>
    </th:block>

    <div class="pagination-div" style="text-align: center;padding: 10px 0px 10px 0px; border: 1px solid #e6e6e6;background-color: #fff">
    <span th:if="${page.hasPrevious()}">
        <a th:href="@{/home(page=${page.number-1},size=${page.size})}">Previous</a>
    </span>
        <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
            <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
            <span th:unless="${page.number == i}">
             <a th:href="@{/home(page=${i},size=${page.size})}">[[${i}+1]]</a>
        </span>
        </th:block>
        <span th:if="${page.hasNext()}">
        <a th:href="@{/home(page=${page.number+1},size=${page.size})}">Next</a>
    </span>
    </div>
</div>

</body>
</html>
