<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>

<div class="container-fluid">
    <div th:replace="fragments :: header"></div>
    <h1 th:text="Home"></h1>
    <div th:if="${param.error}" class="login-error" th:text="Unable to login"></div>
    <div th:if="${param.logout}" class="logout-success" th:text="Logged out!"></div>
    <form method="POST" th:object="${updatedphoto}" th:action="@{/photo/update}">
        <table>
            <tr>
                <td>
                    <input type="hidden" th:value="${photo.id}" name="id">
                    <img style="padding-left: 20px; width: 250px; display: inline-block" th:src="${photo.url}">
                    <input type="text" th:value="${photo.url}" name="url">
                </td>
            </tr>
            <tr>
                <td><label>Description</label></td>
                <td><input type="text" th:value="${photo.description}" name="description"></td>
            </tr>
            <tr>
                <td><label>Hashtags</label></td>
                <td><input type="text" th:value="${photo.hashtags}" name="hashtags"></td>
            </tr>
            <tr>
                <td><label>Size</label></td>
                <td><input type="text" th:value="${photo.sizeX}" name="sizeX"><label>X</label><input type="text" th:value="${photo.sizeY}" name="sizeY"></td>
            </tr>
            <tr>
                <div class="col-md-4 mb-3">
                    <label>Format: </label>
                    <select id="format" name="format" class="form-control" >
                        <option th:each="format : ${formats}"
                                th:value="${format}"
                                th:text="${format}"
                        ></option>
                    </select>
                </div>
            </tr>
            <tr>
                <td><input type="submit" value="Update"></td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>
