<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments :: head"></head>

<body>

<table>
    <tr>
        <td><img style="padding-left: 20px; width: 250px; display: inline-block" th:src="${photo.url}"></td>
        <td th:text="${photo.description}"></td>
        <td th:text="${photo.date}"></td>
        <td th:text="${photo.username}"></td>
        <td th:text="${photo.hashtags}"></td>
        <td><label  th:text="${photo.sizeX}"></label><label>X</label><label th:text="${photo.sizeY}"></label></td>
        <td th:text="${photo.format}"></td>
    </tr>
    <tr>
        <div sec:authorize="isAuthenticated()">
            <form  method="GET" th:action="@{'/photo/update/'+${photo.id}}">
                <input type="submit" class="btn btn-danger" th:value="Update"/>
            </form>
            <form  method="GET" th:action="@{'/photo/download/'+${photo.id}}">
                <input type="submit" class="btn btn-danger" th:value="Download"/>
            </form>
        </div>
    </tr>
</table>

</body>
</html>
