<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments :: head"></head>

<body>
<div th:replace="fragments :: header"></div>
<table>
    <tr>
        <td><img style="padding-left: 20px; width: 250px; display: inline-block" th:src="${photo.url}"></td>
        <td><label th:text="${photo.description}"></label></td>
        <td><label th:text="${photo.date}"></label></td>
        <td><label  th:text="${photo.username}"></label></td>
        <td><label th:text="${photo.hashtags}"></label></td>
        <td><label  th:text="${photo.sizeX}"></label><label>X</label><label th:text="${photo.sizeY}"></label></td>
        <td><label  th:text="${photo.format}"></label></td>
        <td><label>Please imagine the photo has the following filters applied:</label><label th:text="${photo.appliedFilters}"></label></td>
    </tr>
</table>

</body>
</html>
