<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments :: head"></head>

<body>

<table>
    <tr>
        <td><a href=".../photo/${photo.id}"><img style="padding-left: 20px; width: 250px; display: inline-block" th:src="${photo.url}"></a></td>
        <td th:text="${photo.description}"></td>
        <td th:text="${photo.date}"></td>
        <td th:text="${photo.username}"></td>
        <td th:text="${photo.hashtags}"></td>
        <td th:text="${photo.size}"></td>
        <td th:text="${photo.format}"></td>
    </tr>
    <tr>
        <div style="text-align: right; display: inline-block; width: 50%" sec:authorize="isAuthenticated()">
            <form style="padding-right: 20px; font-size: 18px" method="GET" th:action="@{'/photo/update/'+${photo.id}}">
                <input type="submit" class="btn btn-danger" th:value="Update"/>
            </form>
        </div>
    </tr>
</table>

</body>
</html>
